<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Usuários</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      .h100 {
        height: 70px;
        background: black;
      }
    </style>
</head>
  <body class="bg-info bg-opacity-75 my-body">
    <header class="bg-dark ">
        <nav class="navbar mb-2">
            <div class="container-fluid px-4">
                <a class="navbar-brand link-light link-opacity-50-hover fs-3" href="{% url 'home' %}">Cadastrar</a>
            </div>
        </nav>
    </header>
    {% block content %}
   
    {% endblock %}
    <div class="h100 mt-4 invisible" ></div>
    <footer >
        <div class="container-fluid mt-1 mb-0 fixed-bottom h100">
            <p class="text-center text-white p-3">&copy. Martins Desenvolvedor - 2023. Todos os direitos reservados</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>